{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="m-3">
        <form method="POST">
            {% csrf_token %}
            <div class="accordion" id="accordionPanelsStayOpenExample">
                {% for i in opros %}
                <!-- accordion-item start -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ i.id }}">
                        <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapse{{ i.id }}"
                            aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                            aria-controls="collapse{{ i.id }}">
                            {{ i.title }}
                        </button>
                    </h2>
                    <div id="collapse{{ i.id }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                        aria-labelledby="heading{{ i.id }}" data-bs-parent="#accordionPanelsStayOpenExample">

                        {% for j in i.opros_body_set.all %}
                        <div class="accordion-body card m-3">
                            <div>
                                <h6 class="fw-bold">{{ forloop.counter }}. {{ j.title }}</h6>
                                <p>{{ j.body }}</p>
                            </div>
                            <input type="hidden" name="opros_body_{{ j.id }}" value="{{ j.id }}">
                            <div class="mb-3">
                                <label class="form-label">Summary rating</label>
                                <select name="summary_rating_{{ j.id }}" class="form-select" required>
                                    {% for i in summary_rating %}
                                    <option value="{{ i.id }}">{{ i.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Confidence level</label>
                                <select name="confidence_level_{{ j.id }}" class="form-select" required>
                                    {% for i in confidence_level %}
                                    <option value="{{ i.id }}">{{ i.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Body</label>
                                <textarea name="body_{{ j.id }}" class="form-control" style="height: 100px" required></textarea>
                            </div>
                        </div>
                        {% empty %}
                        <div class="accordion-body">
                            <p class="text-muted"> Ma'lumot yo'q.</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- accordion-item end -->
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-success mt-2 w-100">Create</button>
        </form>
    </div>
</div>
{% endblock content %}
